page-discovery {
  .toolbar-title-md{
    text-align: center;
  }
  .bg-color{
    background-color: #efeeee;
  }
  .top-list{
    margin-top: 15px;
  }

  .item-md ion-avatar img {
	  border-radius: 5px;

  }
}
